<!DOCTYPE html>
<html>

	<body>
		<div class="footer-basic">
			<footer>
				<div class="social">
					<a href="https://www.facebook.com/" target="_blank">
						<i class="fa fa-facebook-square" style="font-size: 1.00em"></i>
					</a>
					<a href="https://www.instagram.com/" target="_blank">
						<i class="fa fa-instagram" style="font-size: 1.00em"></i>
					</a>
					<a href="#">
						<i class="fa fa-share" style="font-size: 1.00em"></i>
					</a>
					<a href="#">
						<i class="fa fa-envelope" style="font-size: 1.00em"></i>
					</a>
				</div>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a class="footer-text-info">Informations</a>
						<p>
							Numéro Siret: 35126808100061<br>
							Sur rendez-vous uniquement
						</p>
					</li>
					<li class="list-inline-item">
						<a>|</a>
					</li>
					<li class="list-inline-item">
						<a class="footer-text-info">Contactez-nous</a>
						<p>
							Téléphone: 06.35.12.17.78<br>
							Email: isabelle.isa@orange.fr
						</p>
					</li>
					<li class="list-inline-item">
						<a>|</a>
					</li>
					<li class="list-inline-item">
						<a class="footer-text-info">Localisation</a>
						<p>
							Adresse: Avenue Dreo,<br>
							83170 Brignoles
						</p>
					</li>
					<li class="list-inline-item">
						<a>|</a>
					</li>
					<li class="list-inline-item">
						<a class="footer-text-info">Horaires</a>
						<p>
							Du lundi au vendredi: 07h00-22h00<br>
							Samedi: 07h00-22h00
						</p>
					</li>
				</ul>
				<p class="copyright"><a href="#" style="color:#9A9A9A;">Mention légales</a><br>
					© 2012 -
					<script type="text/javascript">
						var year = new Date();
document.write(year.getFullYear());
					</script>, BEAUTÉ NATURE.
				</p>
			</footer>
		</div>
	</body>

</html>
