<section id="tarifs" class="grey-section services-list owl-theme">
	<div class="container-fluid row resume-timeline">
		<div class="jumbotron">
			<div class="row section-intro">
				<h5>TARIFS</h5>
			</div>
			<section id="services">
				<div class="overlay"></div>
				<div class="row services-content">
					<div id="owl-slider" class="owl-carousel services-list">
						<div class="service">
							<span class="icon">
								<i class="icon-documents"></i>
							</span>

							<h5 class="tarif-title">Beauté Nature</h5>
							<h5 class="tarif-title2">Esthéticienne a domicile</h5>

							<h5 class="tarif-title3">En dessous de 25 € de prestation des frais de déplacement sont demandé en dehors de Brignoles Voir la carte</h5>

							<div class="service-content">
								<h3>• Epilations</h3>
								<p class="desc">sourcils: 5 €
									<br>
									Forfait visage: 10 €
									<br>
									Maillot simple: 9 €
									<br>
									Maillot intégral: 16 €
									<br>
									Jambes entières: 21 €
									<br>
									Bras: 13 €
									<br>
									Lévres: 5 €
									<br>
									Aisselles: 8 €
									<br>
									Maillot échancré: 13 €
									<br>
									1/2 Jambes: 13 €
									<br>
									1/2 Bras: 10 €
								</p>
							</div>
						</div>
						<div class="service">
							<span class="icon">
								<i class="icon-documents"></i>
							</span>
							<div class="service-content">
								<h3>• Soins du visage</h3>
								<p class="desc">Nettoyage de peau :25 €
									<br>
									Soin spécifique avec modelages relaxants: 44 €
								</p>
							</div>
						</div>
						<div class="service">
							<span class="icon">
								<i class="icon-documents"></i>
							</span>
							<div class="service-content">
								<h3>• Soins du corps</h3>
								<p class="desc">Massage aux pirres chaudes: 50 €
									<br>
									Gommage du corps: 40 €
									<br>
									Modelage du corps: 40 €
									<br>
									Forfait corps: 75 €
									<br>
									Beauté des pieds: 20 €
									<br>
									Beauté des mains: 20 €
									<br>
									Pose vernis classique: 6 €
									<br>
									Pose vernis semi permanente: 20 €
									<br>
									Dépose vernis: 7 €
									<br>
									Forfait maquillage mariée (essai et jour J): 47 €
									<br>
									Maquillage soirée et jour: 25 €
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
