<section id="presentation" class="grey-section services-list owl-theme page-presentaton">
	<div class="container-fluid row resume-timeline">
		<div class="jumbotron">
			<div class="row section-intro">
				<h5>PRÉSENTATION</h5>
			</div>

			<p class="lead">Description</p>

			<div id="description">
				<aside class="pro-sticky-profile">
					<img srcset="https://aoutnziken.cloudimg.io/v7/https://www.wecasa.fr/packs/media/images/pro_profiles/profile-picture-woman-6ab2aa417a99cd11c013ab3548b971d7.jpg?func=crop&amp;w=360&amp;h=360 1x,https://aoutnziken.cloudimg.io/v7/https://www.wecasa.fr/packs/media/images/pro_profiles/profile-picture-woman-6ab2aa417a99cd11c013ab3548b971d7.jpg?func=crop&amp;w=720&amp;h=720 2x,https://aoutnziken.cloudimg.io/v7/https://www.wecasa.fr/packs/media/images/pro_profiles/profile-picture-woman-6ab2aa417a99cd11c013ab3548b971d7.jpg?func=crop&amp;w=1080&amp;h=1080 3x" class="pro-sticky-profile__picture" alt="Esthéticienne &amp; Massage à domicile, Brignoles - Isabelle" src="https://aoutnziken.cloudimg.io/v7/https://www.wecasa.fr/packs/media/images/pro_profiles/profile-picture-woman-6ab2aa417a99cd11c013ab3548b971d7.jpg?func=crop&amp;w=360&amp;h=360">
					<div class="pro-sticky-profile__information-wrapper">
						<h1 class="pro-sticky-profile__information">
							<span class="pro-sticky-profile__name">Isabelle</span>
							<span class="pro-sticky-profile__universes">Esthéticienne &amp; Massage à domicile à Brignoles</span>
						</h1>
						<div class="pro-sticky-profile__summary">
							<svg class="pro-sticky-profile__rate-icon">
								<use xlink:href="https://www.wecasa.fr/packs/media/images/symbol-defs-22793ca751d6fe254f0115303339be0a.svg#icon-rating-full"></use>
							</svg>
						</div>
						<div class="pro-sticky-profile__button-wrapper">
							<a class="button button--primary js-modal-toggle" data-target="pro-universes-booking" href="#">Contacter Isabelle</a>
							<p class="js-modal-toggle" data-target="pro-universes-booking">Téléphone: 06.35.12.17.78</p>
						</div>
					</div>
				</aside>

				<div class="alert-presentation-description alert-dismissible alert-presentation">
					<a style="color:#000000a6" class="text-presentation">
						<p>Je suis Isabelle, esthéticienne et masseuse à domicile à Brignoles.</p>
						<p>J'exerce à 15.0 km autour de ma ville, ce qui m'amène à intervenir dans le Var (83).</p>
						<p>Je propose tout type de prestations de beauté et plusieurs types de massages à domicile : Manucure express, Beauté des pieds express, Beauté des pieds complète, Jambes entières, Maillot simple, Massage des jambes, Soin hydratant, Massage relaxant, Mariée et Simple.</p>
						<p>Mes métiers d'esthéticienne et masseuse à domicile me permettent d'intervenir directement chez vous, à l'horaire qui vous arrange.</p>
						<p>Mieux qu'un institut de beauté ou qu'un spa, découvrez la beauté à domicile ou le massage à domicile avec Isabelle !</p>
					</a>
				</div>
			</div>

			<p class="lead">Informations</p>

			<div id="information">
				<div class="presentation-group borderbox">
					<div class="column">
						<i class="fa fa-certificate" aria-hidden="true"></i>
						<h1 class="pro-sticky-profile__information textcenter">
							<span class="pro-sticky-profile__name">Certification</span>
							<span class="pro-sticky-profile__universes">Esthéticienne diplômée et certifiée depuis ????.</span>
						</h1>
					</div>
					<div class="column">
						<i class="fa fa fa-heart" aria-hidden="true"></i>
						<h1 class="pro-sticky-profile__information textcenter">
							<span class="pro-sticky-profile__name">Se déplace à domicile</span>
							<span class="pro-sticky-profile__universes">Dans une zone de 15km autour de Brignoles Voir la carte</span>
						</h1>
					</div>
					<div class="column">
						<i class="fa fa-star" aria-hidden="true"></i>
						<h1 class="pro-sticky-profile__information textcenter">
							<span class="pro-sticky-profile__name">Matériel</span>
							<span class="pro-sticky-profile__universes">Bassine • 20 couleurs • Nuancier • Table d'épilation • Cire • Pince • Bande • Serviettes</span>
						</h1>
					</div>
					<div class="column">
						<i class="fa fa-star" aria-hidden="true"></i>
						<h1 class="pro-sticky-profile__information textcenter">
							<span class="pro-sticky-profile__name">Catégories</span>
							<span class="pro-sticky-profile__universes">Maquillage, Institut de beauté, SPA, Massage, Epilation</span>
						</h1>
					</div>
					<div class="column">
						<i class="fa fa-star" aria-hidden="true"></i>
						<h1 class="pro-sticky-profile__information textcenter">
							<span class="pro-sticky-profile__name">Assurance</span>
							<span class="pro-sticky-profile__universes">Des prestations à domicile en toute sécurité grâce à l’assurance AXA</span>
						</h1>
					</div>
					<div class="column">
						<i class="fa fa-star" aria-hidden="true"></i>
						<h1 class="pro-sticky-profile__information textcenter">
							<span class="pro-sticky-profile__name">Langue/Nationalité</span>
							<span class="pro-sticky-profile__universes">Français(e)</span>
						</h1>
					</div>
				</div>


				<p class="lead">Services</p>
			</div>
		</div>

		<p class="lead">Zone d'activité</p>
		<div class="overlay"></div>
		<div id="owl-slider" class="owl-carousel services-list">
			<img src="assets/images/carte.png" alt="Liberty">
		</div>

		<p class="lead">Horaires</p>
		<div class="overlay"></div>
		<div id="owl-slider" class="owl-carousel services-list">
			<div class="img-horaire">
				<img src="assets/images/horaires.png" alt="Liberty">
			</div>
		</div>
	</div>
</section>
