<section id="galerie">

	<div class="row section-intro">
		<div class="col-twelve">
			<h5>GALERIE</h5>
			<h1>Les récentes images</h1>
		</div>
	</div>

	<div class="row portfolio-content">

		<div class="col-twelve">

			<div id="folio-wrapper" class="block-1-2 block-mob-full stack">

				<div class="bgrid folio-item">
					<div class="item-wrap">
						<img src="https://scontent-iad3-2.cdninstagram.com/v/t51.29350-15/108020531_275623003541307_4960444886316842631_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=-uDrhhMN-ykAX-S-1ay&_nc_oc=AQm32rGMuFGXzYhh5sHcNKpvzE0ThPs9bvYbpqsDePmrqXkJPt1N_UbFKDB42NArYoA&_nc_ht=scontent-iad3-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT-UFCQEy6YjTjmKAB0w8cRoLLOJ3Su7DgAes9vZxBrkOA&oe=6252554F" alt="Liberty">
						<a href="#modal-01" class="overlay">
							<div class="folio-item-table">
								<div class="folio-item-cell">
									<h3 class="folio-title">Liberty</h3>
									<span class="folio-types">
										Epilations
									</span>
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="bgrid folio-item">
					<div class="item-wrap">
						<img src="https://scontent-iad3-2.cdninstagram.com/v/t51.29350-15/106485418_149549670066257_361542211237069655_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=SFJ8QqsZI_4AX8fIfPi&_nc_oc=AQkE_Wf6lMhZJrkXz_f1qaPg45qDeagUYXepwZ2C9NitcLz5legXs5nf4ov8PTWTovI&_nc_ht=scontent-iad3-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT8_wgmHyxnAzfxqR20O8QEpmBZjoNHrp5srAwdAuwuNAQ&oe=6252CA22" alt="Shutterbug">
						<a href="#modal-02" class="overlay">
							<div class="folio-item-table">
								<div class="folio-item-cell">
									<h3 class="folio-title">Shutterbug</h3>
									<span class="folio-types">
										Web Design
									</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</section>
