<section id="presentation" class="grey-section services-list owl-theme">
	<div class="container-fluid row resume-timeline">
		<div class="container mt-4">
			<div class="jumbotron">
				<div class="row section-intro">
					<h5>PRESENTATION</h5>
				</div>

				<p class="lead">Description</p>

				<aside class="pro-sticky-profile">
					<img srcset="https://aoutnziken.cloudimg.io/v7/https://www.wecasa.fr/packs/media/images/pro_profiles/profile-picture-woman-6ab2aa417a99cd11c013ab3548b971d7.jpg?func=crop&amp;w=360&amp;h=360 1x,https://aoutnziken.cloudimg.io/v7/https://www.wecasa.fr/packs/media/images/pro_profiles/profile-picture-woman-6ab2aa417a99cd11c013ab3548b971d7.jpg?func=crop&amp;w=720&amp;h=720 2x,https://aoutnziken.cloudimg.io/v7/https://www.wecasa.fr/packs/media/images/pro_profiles/profile-picture-woman-6ab2aa417a99cd11c013ab3548b971d7.jpg?func=crop&amp;w=1080&amp;h=1080 3x" class="pro-sticky-profile__picture" alt="Esthéticienne &amp; Massage à domicile, Brignoles - Isabelle" src="https://aoutnziken.cloudimg.io/v7/https://www.wecasa.fr/packs/media/images/pro_profiles/profile-picture-woman-6ab2aa417a99cd11c013ab3548b971d7.jpg?func=crop&amp;w=360&amp;h=360">
					<div class="pro-sticky-profile__information-wrapper">
						<h1 class="pro-sticky-profile__information">
							<span class="pro-sticky-profile__name">Isabelle</span>
							<span class="pro-sticky-profile__universes">Esthéticienne &amp; Massage à domicile à Brignoles</span>
						</h1>
						<div class="pro-sticky-profile__summary">
							<svg class="pro-sticky-profile__rate-icon">
								<use xlink:href="https://www.wecasa.fr/packs/media/images/symbol-defs-22793ca751d6fe254f0115303339be0a.svg#icon-rating-full"></use>
							</svg>
						</div>
						<div class="pro-sticky-profile__button-wrapper">
							<a class="button button--primary js-modal-toggle   " data-target="pro-universes-booking" href="#">Contacter Isabelle</a>
						</div>
					</div>
				</aside>

				<div class="alert-presentation-description alert-dismissible alert-presentation">
					<a style="color:#000000a6" class="text-presentation">Je suis Isabelle, esthéticienne et masseuse à domicile à Brignoles.<br>
						J'exerce à 15.0 km autour de ma ville, ce qui m'amène à intervenir dans le Var (83).<br>
						Je propose tout type de prestations de beauté et plusieurs types de massages à domicile : Manucure express, Beauté des pieds express, Beauté des pieds complète, Jambes entières, Maillot simple, Massage des jambes, Soin hydratant, Massage relaxant, Mariée et Simple.
						<br>Mes métiers d'esthéticienne et masseuse à domicile me permettent d'intervenir directement chez vous, à l'horaire qui vous arrange.<br>
						Mieux qu'un institut de beauté ou qu'un spa, découvrez la beauté à domicile ou le massage à domicile avec Isabelle !</a>
				</div>
				<hr class="my-2">
				<p class="lead">Suivez Beauté Nature sur les réseaux sociaux</p>
				<a href="https://www.facebook.com/" target="_blank">
					<i class="fa fa-facebook-square" aria-hidden="false"></i>
				</a>
				<a href="https://www.instagram.com/" target="_blank">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</section>
