<!-- services Section
   ================================================== -->
  <section id="faq">

    <div class="overlay"></div>
    <div class="row section-intro">
      <div class="col-twelve">

			<h5>FOIRE AUX QUESTIONS</h5>

      </div>
    </div> <!-- /section-intro-->

    <div class="row section-intro">
      <div class="col-twelve">

        <h2><a style="color:#32dc9e">OMG ! VIRUS ? </a></h2>

        <p class="lead">Yes certain behaviours of our software might be considered as malicious by your antivirus.
          They are false positives.
          Our software is designed to simulate mouse movement and keyboard typing to actually play the game.
          This is a common trigger for anti-virus engines.
          In order to work properly, the software is using your network traffic to check if an update is available and to grant full access to premium users.
          The software is also creating/writing and reading a configuration file in order to save your settings.
          The software source code is obfuscated to prevent it being easily stolen.
          This alone is enough to trigger multiple anti-virus engines.
          If after all you remain unconvinced, dont use this software.</p>

        <h2><a style="color:#32dc9e">WHERE I CAN DOWNLOAD THE LATEST SOFTWARE VERSION ? </a></h2>

        <p class="lead">Join our <a href="https://discord.gg/arApVweA8y" target="_blank" style="color:#fd8000">discord </a> and check out the DOWNLOAD channel.</p>

        <h2><a style="color:#32dc9e">HOW I CAN UNBAN ME ? </a></h2>

        <p class="lead">If you have getting ban from a specified server you can unban you with create another account and changing your IP.
          If you have ban from the owner server a good software exist for spoof your computer: <a href="https://discord.gg/arApVweA8y" target="_blank" style="color:#fd8000"> SPOOFER DOWNLOAD LINK</a>.</p>

        <h2><a style="color:#32dc9e">THE SOFTWARE DOES NOT START CORRECTLY ? </a></h2>

        <p class="lead">Make sure your game is WINDOWED MODE.
          Press F1 after overlay appear.
          If your problem persist join our <a href="https://discord.gg/arApVweA8y" target="_blank" style="color:#fd8000">discord </a>and open a Ticket.</p>

        <h2><a style="color:#32dc9e">HOW I CAN RESET MY LICENSE ? </a></h2>

        <p class="lead">Send your request from this <a class="smoothscroll" href="#contact" style="color:#fd8000">formular</a>.</p>

      </div>
    </div> <!-- /section-intro -->

  </section> <!-- /services -->