<section id="intro">
	<div class="intro-overlay">
		<div class="intro-content">
			<div class="container mt-4">
				<h1 class="display-4" id="accueil">ACCUEIL</h1>
				<div id="NewMessage">
					<p class="lead">Dernière information</p>
					<div class="alert alert-dismissible alert-info">
						<button type="button" id="buttonNewMessage" class="btn-close" data-bs-dismiss="alert"></button>
						<a href="#" class="alert-link">Le site est actuellement en construction.</a>
					</div>
				</div>

				<div class="row button-section">
					<div class="col-twelve">
						<a href="#contact-us" title="Prendre-rendez-vous" class="button stroke smoothscroll">Rendez-vous</a>
						<a href="#presentation" title="En savoir plus" class="button button-primary">En savoir plus</a>
					</div>
				</div>
				<hr class="my-2">
				<p class="lead">Suivez Beauté Nature sur les réseaux sociaux</p>
				<a href="https://www.facebook.com/" target="_blank">
					<i class="fa fa-facebook-square" aria-hidden="false"></i>
				</a>
				<a href="https://www.instagram.com/" target="_blank">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</section>
